@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

/* APPS JSX */
.for-img{
  position: relative;
  bottom: 30px;
}
.help{
  position: absolute;
  right: 0.4rem;
  top: 13.5rem;
}

/* BUY JSX */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MEMOS JSX */
.td-1, .td-2{
  flex-basis: 15%;
}
.td-3, .td-4{
  flex-basis: 35%;
}

/* FOOTER */
i{
  font-size: 1.5em;
  color: white;
}

@media screen and (max-width: 1024px) {
  .memo-div{
    flex-direction: column;
  }
  .td-1, .td-2, .td-3{
    border-right: 0;
    border-bottom: 2px solid #991b1b;
  }
}

@media screen and (max-width: 768px) {
  input{
    width: 100% !important;
  }
  .banner{
    font-size: 2rem !important;
  }
  .banner-div{
    height: 11rem !important;
  }

  .help{
    top: 11.5rem;
  }
}